<!DOCTYPE html>
<html ng-app="shoppingCart">
	<head>
		<meta charset="utf-8">
		<title>Shopping Cart</title>
		<link rel="stylesheet" href="css/css-reset.css">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  	<link rel="stylesheet" href="css/app.css">
		<script src="bower_components/angular/angular.js"></script>
  	<script src="js/controllers.js"></script>
	</head>
	<body ng-controller="ShoppingCartCtrl">
		
		<div id="wrapper">
			<div id="main">
				<input type="text" id="search" ng-model="query" placeholder="Enter your search terms">
				<div id="result">
					<ul >
						<li ng-repeat="cart in carts | filter:query | orderBy:text">
							<a ng-href="{{cart.link}}"><img ng-src="{{cart.img}}">
								<span>{{cart.text}}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div id="editDiv">
				<button type="button">EDIT</button>
			</div>
		</div> <!--end wrapper -->
		
	</body>
</html>